*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
}
.main{
    
    background-color: blanchedalmond;
    
}
.box{
    width: max-content;
    padding: 1rem;
    border: 2px solid black;
    justify-content: center;
}
.btnbox{
    width:fit-content;
    padding: 1rem;
    display:grid ;
    grid-template-columns: auto auto auto auto;
    
}
.inputbox{
    display: grid;
    place-items: center;
}

#inputb{
   height: 2rem;
}
.num,.sym{
    padding: 0.5rem;
    margin: 5px;
}